
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*

  /******************/



    /***************************************************************************/
      /* .imageprofile{
      padding: 0px;
      margin: 0px;
      border-radius: 50%;
      width: 30px;
      } */
  
  
  /****************************************************/
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .section-1 {
    /* background: url('../back.jpg'); */
    background:linear-gradient(1deg, rgba(4, 0, 0, 0.3), rgba(8, 4, 4, 0.3),rgba(0, 0, 0, 0.219)), url('../back.jpg');
    width: 100%;
    background-size: cover ;
    height: 130vh;
    background-position: center;
    
  }
  #clock i{
    color:#1977cc;
    font-size: 1.2em;
  }
  #bgperso{
    background-color: #1977cc;
    }
    
  
  header {
    display: flex;
    padding: 30px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 500ms;
  }
  nav {
    margin-right: 40px;
    position: sticky;
    z-index: 1999;
  }
  nav a {
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
    /* color: #eee;  pour après */ 
    color: #eeeded;
    border-bottom:  3px solid transparent;
    padding: 10px 1px;
    transition: 200ms;
  }
  .active {
    border-color: #00B3FF;
  }
  .na:active {
    border-color: #00B3FF;
    color: #00B3FF;
  }
  .na:hover{
    color:#00B3FF;
  }
  .logo {
    flex: 1;
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    margin-left: 20px;
    /* color: #fff;  pour après */
    color: #eeeded;
  }
  .bgc {
    background: #eee;
    padding: 10px;
  }
  .bgc .logo {
    font-size: 30px;
    color: #000;
  }
  .bgc nav a {
    color: #222;
  }
  
  .bgc .bienvenue2 {
    color: #222;
  }
  
  .bgc .dropdown-content>a{
   color:#222;
  }
  .bgc #con,.bgc #con2{
    color:#222;
   }
  
   .bgc .dropbtn{
    color: #222;
   }
  .bgc .btn{
    color: #222;
  }
  
  .section-2 {
    padding: 20px;
    padding-left: 60px;
  }
  .section-2 h1 {
    padding: 20px;
    font-size: 40px;
  }
  .section-2 p {
    padding: 20px;
    line-height: 1.8em;
    font-size: 18px;
  }
  @media (max-width: 769px){
    header {
      flex-direction: column;
      padding: 20px;
    }
    nav {
      padding: 15px;
      margin: 0px;
    }
  }
  
  
  
  
  /*l'icone de l'utilisateur*/
  #useri{
  font-size: 1.2em;
  margin-right: 10px;
  color: #1977cc;
  }
  
  /*************partie profile*****************/
  
  .imageprofile{
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    width: 50px;
    float: right;
    }
  /***************************************************************************/
  /******************************/
  
  #stick
  {
    font-family: Raleway;
    margin: 0 ;
    text-align: center;
  }

  
  nav a,.dropbtn{
    display: inline;
  }
  
  .dropbtn {
  background-color: transparent;
  color:#eeeded;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  margin-right: 30px;
  margin-top: 20px;
 
  }
  
  
  nav a,.bienvenu2{
    display:inline;
  }
  .bienvenue2{
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #eeeded;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    margin-right: 45px;
  }
  
  .dropbtn>a{
    text-decoration: none;
  }
  .dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
  }
  .dropdown-content button {
  color: #eeeded;
  text-decoration: none;
  display: block;
    text-align: center;
    font: 16px Raleway;
    margin: 16x;
    padding: 0;
  }
  
  .dropdown-content a {
    color: #eeeded;
    text-decoration: none;
    display: block;
    font: 16px Raleway;
    text-align: left;
    margin: 16x;
    padding: 0;
  
    }
  
  .dropdown-content button:hover  { color: #00B3FF;}
  .dropdown-content a:hover  { color: #00B3FF;}
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  /* .dropdown:hover .dropbtn {
  background-color: #3384cb;
  color: white;
  } */
  
  #con2,#con{
  color: #eeeded;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  float: left;
  }
  
  #con3,#con4{
    color: #eeeded;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 20px;
    }
    
  /******************* Close btn LOGIN , REGISTER***************************/
  
  .btn-close{
    float: right;
    margin-top: -35px;
  }
  